<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="info">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="environment" value="DEV" />
  <variable name="application-name" value="AdapterImec.Api" />
  <variable name="application-logfolder" value="AdapterImec" />
  <variable name="logstash-credentials" value="bG9nc3Rhc2g6Y2hBNGlHK1Y=" />
  <variable name="logstash-url" value="https://test.join-data.net/logstash" />

  <!-- the targets to write to -->
  <targets>
    <target name="logstash" xsi:type="WebService" url="${logstash-url}" protocol="JsonPost" encoding="utf-8">
      <header name="Authorization" layout="Basic ${logstash-credentials}" />
      <parameter name="application" type="System.String" layout="${application-name}"></parameter>
      <parameter name="environment" type="System.String" layout="${environment}"></parameter>
      <parameter name="severity" type="System.String" layout="${level:uppercase=True}"></parameter>
      <parameter name="message" type="System.String" layout="${message}"></parameter>
      <parameter name="exception" type="System.String" layout="${exception:format=Message}"></parameter>
      <parameter name="stacktrace" type="System.String" layout="${exception:format=StackTrace}"></parameter>
      <parameter name="serverName" type="System.String" layout="${machinename}"></parameter>
      <parameter name="threadName" type="System.String" layout="${when:when='${threadname}' == '':inner=${threadid}:else=${threadname}}"></parameter>
      <parameter name="workingName" type="System.String" layout="${processname}"></parameter>
      <parameter name="logger" type="System.String" layout="${logger}"></parameter>
    </target>

    <target name="Console" xsi:type="Console" layout="${longdate} ${machinename} ${callsite} ${level} ${message}"/>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Debug" writeTo="Console" />
    <logger name="AdapterImec.*" minlevel="Info" writeTo="logstash" />
    <logger name="*" minlevel="Warn" writeTo="logstash" />
  </rules>
</nlog>
